                                                   /*--- navigation bar ---
                                       
                                       .navbar {
                                           background: linear-gradient(90deg, rgb(255, 0, 0) 10%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
                                       }
                                       
                                       .nav-link,
                                       .navbar-brand {
                                           color: #fff;
                                           cursor: pointer;
                                       }
                                       
                                       .nav-link {
                                           margin-right: 1em !important;
                                       }
                                       
                                       .nav-link:hover {
                                           color: rgb(255, 0, 0);
                                       }
                                       
                                       .navbar-collapse {
                                           justify-content: flex-end;
                                       }
                                       /*--- nav end---*/
                                                   /*--- our team---*/
                                                   
                                                   @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
                                                   /** {
                                                       margin: 0;
                                                       padding: 0;
                                                       user-select: none;
                                                       box-sizing: border-box;
                                                       font-family: 'Poppins', sans-serif;
                                                   }
                                                   */
                                                  /* body {
                                                       padding: 0;
                                                       margin: 0;
                                                       background: #ffffff;
													   font-family: serif;
													   background-image: url('main page.jpg');

                                                   }*/
                                                   
                                                   .container {
                                                       display: flex;
                                                       justify-content: center;
                                                       align-items: center;
                                                       flex-wrap: wrap;
                                                   }
                                                   
                                                   .container .card {
                                                       width: 150px;
                                                       height: 300px;
                                                       padding: 25px 30px;
                                                       margin: 20px;
                                                       background: #f2f3f7;
                                                       box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
                                                       border-radius: 20px;
                                                   }
                                                   
                                                   .container .card .content {
                                                       display: flex;
                                                       justify-content: center;
                                                       align-items: center;
                                                       flex-direction: column;
                                                   }
                                                   
                                                   .container .card .content .imgBx {
                                                       width: 120px;
                                                       height: 120px;
                                                       border-radius: 50%;
                                                       position: relative;
                                                       margin-bottom: 20px;
                                                       overflow: hidden;
                                                   }
                                                   
                                                   .container .card .content .imgBx img {
                                                       position: absolute;
                                                       top: 0;
                                                       left: 0;
                                                       width: 100%;
                                                       height: 100%;
                                                       object-fit: cover;
                                                   }
                                                   
                                                   .container .card .content .contentBx h4 {
                                                       color: #36187d;
                                                       font-size: 1.7rem;
                                                       font-weight: bold;
                                                       text-align: center;
                                                       letter-spacing: 1px;
                                                   }
                                                   
                                                   .container .card .content .contentBx h5 {
                                                       color: #6c758f;
                                                       font-size: 1.2rem;
                                                       font-weight: bold;
                                                       text-align: center;
                                                   }
                                                   
                                                   .container .card .content .sci {
                                                       margin-top: 20px;
                                                   }
                                                   
                                                   .container .card .content .sci a {
                                                       text-decoration: none;
                                                       color: #6c758f;
                                                       font-size: 30px;
                                                       margin: 10px;
                                                       transition: color 0.4s;
                                                   }
                                                   
                                                   .container .card .content .sci a:hover {
                                                       color: #0196e3;
                                                   }
                                                   /*--- our team---*/
                                                   /*--- footer---*/
                                                   
                                                   .page-footer {
                                                       background-color: rgb(0, 0, 0);
                                                       color: #ccc;
                                                       padding: 10px;
                                                   }
                                                   /*--- footer End---*/
                                                   /*--- forum---*/
                                                   
                                                   .forum1 {
                                                       margin: left;
                                                       width: 60%;
                                                       border: 3px;
                                                       padding-bottom: 40px;
                                                       padding-left: 100px;
                                                   }
                                                   
                                                   .forum2 {
                                                       margin: right;
                                                       width: 40%;
                                                       border: 3px;
                                                   }
                                                   /*--- forumr End---*/
                                                   
                                                  /* nav {
                                                       background: linear-gradient(90deg, rgb(255, 0, 0) 10%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
                                                       ;
                                                   }
                                                   
                                                   nav:after {
                                                       content: '';
                                                       clear: both;
                                                       display: table;
                                                   }
                                                   
                                                   nav .logo {
                                                       float: left;
                                                       color: white;
                                                       text-transform: uppercase;
                                                       font-size: 25px;
                                                       font-weight: 600;
                                                       line-height: 70px;
                                                       padding-left: 40px;
                                                   }
                                                   
                                                   nav ul {
                                                       float: right;
                                                       margin-right: 12px;
                                                       list-style: none;
                                                       position: relative;
                                                   }
                                                   
                                                   nav ul li {
                                                       float: left;
                                                       display: inline-block;
                                                       margin: 0 5px;
                                                   }
                                                   
                                                   nav ul li a {
                                                       color: white;
                                                       line-height: 60px;
                                                       text-decoration: none;
                                                       font-size: 16px;
                                                       font-family: sans-serif;
                                                       padding: 8px 15px;
                                                       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                                       text-transform: uppercase;
                                                       font-weight: 400;
                                                   }
                                                   
                                                   nav ul li a:hover {
                                                       color: crimson;
                                                   }
                                                   
                                                   nav ul ul {
                                                       position: absolute;
                                                       top: 90px;
                                                       opacity: 0;
                                                       transition: top .3s;
                                                       visibility: visible;
                                                       transition: top .3s;
                                                   }
                                                   
                                                   nav ul li:hover>ul {
                                                       top: 70px;
                                                       opacity: 1;
                                                       visibility: visible;
                                                       background-color: black;
                                                   }
                                                   
                                                   nav ul ul li {
                                                       position: relative;
                                                       margin: 0px;
                                                       width: 150px;
                                                       float: none;
                                                       display: list-item;
                                                       border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                                                   }
                                                   
                                                   nav ul ul li a {
                                                       line-height: 50px;
                                                   }
                                                   
                                                   nav ul ul ul li {
                                                       position: relative;
                                                       top: -60px;
                                                       left: 150px;
                                                   }
                                            
                                                   
                                                   .fa-plus {
                                                       font-size: 15px;
                                                       margin-left: 40px;
                                                   }
                                                   
                                                   @media all and (max-width: 968px) {
                                                       nav ul {
                                                           margin-right: 0px;
                                                           float: left;
                                                       }
                                                       nav .logo {
                                                           padding-left: 30px;
                                                           width: 100%;
                                                       }
                                                       .show+a,
                                                       ul {
                                                           display: none;
                                                       }
                                                       nav ul li,
                                                       nav ul ul li {
                                                           display: block;
                                                           width: 100%;
                                                       }
                                                       .show {
                                                           display: block;
                                                           color: white;
                                                           font-size: 18px;
                                                           text-transform: uppercase;
                                                           padding: 0 20px;
                                                           line-height: 70px;
                                                           font-weight: 600;
                                                           cursor: pointer;
                                                       }
                                                       .show:hover {
                                                           color: crimson;
                                                       }
                                                       .icon {
                                                           display: block;
                                                           color: white;
                                                           position: absolute;
                                                           top: 0;
                                                           right: 40px;
                                                           line-height: 70px;
                                                           cursor: pointer;
                                                           font-size: 25px;
                                                       }
                                                       nav ul ul {
                                                           top: 70px;
                                                           border-top: 0px;
                                                           float: none;
                                                           position: static;
                                                           display: none;
                                                           opacity: 1;
                                                           visibility: visible;
                                                       }
                                                       nav {
                                                           background: linear-gradient(110deg, rgb(0, 0, 0) 10%, rgb(128, 0, 0) 70%, rgb(255, 0, 0) 100%);
                                                           ;
                                                       }
                                                       nav ul ul a {
                                                           padding-left: 40px;
                                                       }
                                                       nav ul ul ul a {
                                                           padding-left: 80px;
                                                       }
                                                       nav ul ul ul li {
                                                           position: static;
                                                       }
                                                       [id^=btn]:checked+ul {
                                                           display: block;
                                                       }
                                                       nav ul ul li {
                                                           border-bottom: 0px;
                                                       }
                                                   }*/